@import '../node_modules/@huntoreocodes/hunter-normalize/hunter-normalize.css';
@import './styles/landing.css';
@import './styles/menu.css';
@import './styles/contacts.css';

html {
  height: 100%;
}

body {
  background: repeating-linear-gradient(
    lightblue,
    lightblue 20px,
    skyblue 20px,
    skyblue 30px
  );
  height: 100%;
}


